.hero-section {
  color: #fff;
  max-width: 1200px;
  margin: auto;
  width: 90%;
  margin-bottom: 40px;
}

.tabButton {
  position: relative;
  padding: 1rem;
  cursor: pointer;
  transition: border-bottom 0.3s ease-in-out;
}

.tabButton h1 {
  margin: 0;
}

.borderAnimation::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #f43f5e;
  animation: fade-left 0.3s ease-in-out;
}

.tab-container {
  display: flex;
  gap: 1rem;
  width: fit-content;
}
@keyframes fade-left {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.hero-quote {
  line-height: 1.2;
  white-space: normal;
  font-size: 58px;
  font-weight: 600;
}

/* Bungkus per kata */
.word {
  display: inline-block;
  white-space: nowrap; /* ⬅️ INI BIAR KATA TIDAK PECAH */
}

/* Huruf */
.letter {
  display: inline-block;
  opacity: 0;
  transform: translateY(40px);
  filter: blur(6px);

  animation: letterReveal 0.5s cubic-bezier(.4,0,.2,1) forwards;
}

@keyframes letterReveal {
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.hero-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  min-height: 90vh;
  margin-inline: auto;
}
.hero-summary {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.rendered-animation::before {
  content: "";
  background-color: #fff;
  position: absolute;
  left: -90px;
  top: 0;
  bottom: 0;

  width: 90px;
  /* background: #f43f5e; */

  clip-path: polygon(
    100% 0,   /* kanan atas */
    100% 100%,/* kanan bawah */
    0 100%    /* kiri bawah */
  );

}
.rendered-animation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  width: 100%;
  border-left: 1px solid #fff;
  background-color: #fff;
}


.hero-greeting {
  display: flex;
  flex-direction: column;
  gap: 20px;
}